body,div,p,hr,section,ul,li{
    padding:0;
    margin:0;
}
body{
    /*background-color: #d9aaa6;*/
    background-color: #f2f2f2;
    color: #636660;
    min-width: 320px;
}
h1{
    color: #fff;}
.clearfix{
    content: "";
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    color: #636660;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #ff434d;
}
#section_joinUs,#section_aboutUs{
    margin-top:25px;
    margin-bottom:20px;
}
.section_title{
    margin-bottom: 30px;
}
.section_title hr{
    background-color: #cfcfcf;
    height:1px;
    margin-top:3px;
}
#intro ul{
    list-style-type: none;
    text-align: center;
}
#intro ul li{
    float: left;
    display: inline-block;
    width:25%;
}
#intro figure img{
    max-width:30%;
}
#section_aboutUs #intro p{
    text-align: center;
}
#section_aboutUs #intro section{
    margin-bottom:25px;
}
.carousel-inner .item{
    max-height:380px;
}
/*section_joinUs*/
.section_main #Selfintro{
    resize:none;
    overflow: auto;
}
.section_main .help-block{
    color: #555;
}
.section_main #sdept{
    color: #8c8c8c;
}
.section_main button{
    width:100%;
}
.validateMsg{
    color: red;
}
@media screen and (max-width:960px) {
    .h4{
        font-size: 1.2em;
    }
    .section_title{
        margin-bottom: 20px;
    }
    #section_aboutUs #intro section{
        margin-bottom:20px;
    }
    #section_joinUs,#section_aboutUs{
        margin-top:20px;
        margin-bottom:16px;
    }
}
@media screen and (max-width:768px) {
    .section_title{
        margin-bottom: 15px;
    }
    #section_aboutUs #intro section{
        margin-bottom:15px;
    }
    #section_joinUs,#section_aboutUs{
        margin-top:15px;
        margin-bottom:12px;
    }
}
@media screen and (max-width:550px) {
    .h3{
        font-size: 1.2em;
    }
    .h4{
        font-size: 1.1em;
    }
    /*轮播框文字*/
    .carousel-inner  p{
        font-size:0.8em;
        line-height:0.5em;
    }
    .section_title{
        margin-bottom: 10px;
    }
    #intro ul li{
        float: left;
        display: inline-block;
        width:50%;
    }
    #section_aboutUs #intro section{
        margin-bottom:10px;
    }
    #section_joinUs,#section_aboutUs{
        margin-top:8px;
        margin-bottom:6px;
    }
}