<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>info</title>
    <meta name="keywords" content="关键词"/>
    <meta  name="description" content="描述"/>
    <!--<link rel="shortcut icon" href="images/logo1.png" />-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/info.css" rel="stylesheet"/>
</head>
<body>
<header>

</header>
<div class="container col-md-10 col-md-offset-1">
    <div id="display">
        <!--<section>-->
        <!--<p class="h5 left title"><strong></strong></p>-->
        <!--<div class="Selfintro"></div>-->
        <!--<p class="details"></p>-->
        <!--</section>-->
    </div>
    <div id="pagi-father">
        <div id="pagination">
            <a id="firstPage">首页</a>
            <a id="prePage">上一页</a>
            <a class="current">1</a>
            ...
            <a>5</a>
            <a>6</a>
            <a>7</a>
            <a>8</a>
            <a>9</a>
            <a id="nextPage">下一页</a>
            <a id="lastPage">尾页</a>
            <span class="totalPages">
            共<span>5</span>页
        </span>
            <span class="totalSize">
            共<span>90</span>条记录
        </span>
        </div>
    </div>
</div>
<script src="../static/js/jquery-1.12.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/paging.js"></script>
<!--<script src="../static/js/info.js"></script>-->
<script>
    //分页
    //    $("#pagination").paging({
    //        pageNo:1,
    //        totalPage: 9,
    //        totalSize: 90,
    //        callback: function(currentPage) {
    //            $.ajax({
    //                type: 'get',
    //                url: '/submit',
    //                dataType: 'json',
    //                async: false,
    //                success: function (data) {
    //                    $.each(data, function (index, obj) {
    //                    var sec = $('<section></section>');
    //                    // 添加标题
    //                    var Uid = $('<p class="h5 left"></p>');
    //                    Uid.append('<srtong>' + obj['name'] + '</srtong>');
    //                    sec.append(Uid);
    //                    // 添加主体
    //                    var SelfIntro = $('<div class="Selfintroduction"></div>');
    //                    SelfIntro.append(obj['selfbriefly']);
    //                    sec.append(SelfIntro);
    //                    //添加其余详细信息
    //                    var Details = $('<p></p>');
    //                    Details.append(obj['professional'] + ' /' + obj['tel'] + ' /' + obj['email']);
    //                    sec.append(Details);
    //                    $('#display').append(sec);
    //                     });
    //        }
    //    });

    //    参数为当前页
    ajaxTest(1);
    function ajaxTest(currentPage) {
        var rows = 10;
        $.ajax({
            type: 'get',
            url: '/submit',
            dataType: 'json',
            async: false,
            success: function (data) {
                $.each(data, function (index, obj) {
                    if (index > rows * (currentPage - 1) && index <= rows * currentPage) {
                        var sec = $('<section></section>');
                        // 添加标题
                        var Uid = $('<p class="h5 left"></p>');
                        Uid.append('<srtong>' + obj['name'] + '</srtong>');
                        sec.append(Uid);
                        // 添加主体
                        var SelfIntro = $('<div class="Selfintroduction"></div>');
                        SelfIntro.append(obj['selfbriefly']);
                        sec.append(SelfIntro);
                        //添加其余详细信息
                        var Details = $('<p></p>');
                        Details.append(obj['professional'] + ' /' + obj['tel'] + ' /' + obj['email']);
                        sec.append(Details);
                        $('#display').append(sec);
                    }
                });

                //分页
                $("#pagination").paging({
                    pageNo: currentPage,//当前所在页码
                    totalPage: data.totalPage,//总页数
                    totalSize: data.totalSize,//总记录数
                    callback: function (currentPage) {
                        ajaxTest(currentPage)
                    }
                })
            },
            error: function () {
                alert('获取消息失败！');
            }
        })
    }
</script>
</body>
</html>